<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>LightContent</string>
	<key>Global</key>
	<dict>
		<key>screenBackgroundColor</key>
		<string>#FFF</string>
		<key>viewBackgroundColor</key>
		<string>#FFF</string>
		<key>tableCellBackgroundColor</key>
		<string>#FFF</string>
		<key>textColor</key>
		<string>#000</string>
	</dict>
</dict>
</plist>
